Repository wireapp/wire-desktop, pull requests merged in 2020-08, with the labels that each got.

#4112 fix: Do not flash application window when user status is busy (webapp-7046)
  electron/renderer/src/actions/index.js
  electron/renderer/src/components/WebviewList.jsx
  electron/renderer/src/reducers/accountReducer.js
  electron/src/global.ts
  electron/src/main.ts
  electron/src/menu/TrayHandler.ts
  electron/src/renderer/preload-app.ts
  electron/src/renderer/preload-webview.ts
  package.json
  yarn.lock
Labels: type: fix 🛠

#4128 chore: Label PRs automatically [ci skip]
  .github/labeler.yml
  .github/workflows/label.yml
Labels: type: chore 🧹

#4133 feat: Allow unknown account data
  electron/renderer/src/actions/index.js
Labels: type: feature / request ✨

#3923 feat: Configure links in About window (WEBAPP-7048)
  electron/html/about.html
  electron/src/renderer/menu/preload-about.ts
  electron/src/settings/config.ts
  electron/src/window/AboutWindow.ts
  electron/wire.json
Labels: type: feature / request ✨

#4136 runfix: Correctly calculate account unread messages count (WEBAPP-7052)
  electron/renderer/src/actions/index.js
Labels: type: bug / fix 🐞

#4135 feat: Enable worldSafeExecuteJavaScript
  electron/src/main.ts
  electron/src/renderer/preload-sso.ts
  electron/src/sso/SingleSignOn.ts
Labels: type: feature / request ✨

#4139 fix: Add CSP headers, remove Blink features, enable remote module
  electron/renderer/index.html
  electron/src/main.ts
  electron/src/sso/SingleSignOn.ts
  electron/src/window/AboutWindow.ts
  electron/src/window/ProxyPromptWindow.ts
Labels: type: bug / fix 🐞

#4141 feat: Copy picture from context menu
  electron/locale/ar-SA.json
  electron/locale/bn-BD.json
  electron/locale/ca-ES.json
  electron/locale/cs-CZ.json
  electron/locale/da-DK.json
  electron/locale/de-DE.json
  electron/locale/el-GR.json
  electron/locale/en-US.json
  electron/locale/es-ES.json
  electron/locale/et-EE.json
  electron/locale/fa-IR.json
  electron/locale/fi-FI.json
  electron/locale/fr-FR.json
  electron/locale/ga-IE.json
  electron/locale/he-IL.json
  electron/locale/hi-IN.json
  electron/locale/hr-HR.json
  electron/locale/hu-HU.json
  electron/locale/id-ID.json
  electron/locale/is-IS.json
  electron/locale/it-IT.json
  electron/locale/ja-JP.json
  electron/locale/lt-LT.json
  electron/locale/lv-LV.json
  electron/locale/ms-MY.json
  electron/locale/nl-NL.json
  electron/locale/no-NO.json
  electron/locale/pl-PL.json
  electron/locale/pt-BR.json
  electron/locale/pt-PT.json
  electron/locale/ro-RO.json
  electron/locale/ru-RU.json
  electron/locale/si-LK.json
  electron/locale/sk-SK.json
  electron/locale/sl-SI.json
  electron/locale/sr-SP.json
  electron/locale/sv-SE.json
  electron/locale/th-TH.json
  electron/locale/tr-TR.json
  electron/locale/uk-UA.json
  electron/locale/uz-UZ.json
  electron/locale/vi-VN.json
  electron/locale/zh-CN.json
  electron/locale/zh-HK.json
  electron/locale/zh-TW.json
  electron/src/locale/locale.ts
  electron/src/renderer/menu/context.ts
Labels: type: feature / request ✨

#4156 refactor: Use event.reply() where possible
  electron/src/main.ts
  electron/src/window/AboutWindow.ts
  electron/src/window/ProxyPromptWindow.ts
Labels: type: refactoring 🛠

#4159 fix: Don't allow reusing the renderer process
  electron/src/main.ts
Labels: type: bug / fix 🐞

#4158 feat: Let the user zoom in and out (WEBAPP-7050)
  electron/locale/ar-SA.json
  electron/locale/bn-BD.json
  electron/locale/ca-ES.json
  electron/locale/cs-CZ.json
  electron/locale/da-DK.json
  electron/locale/de-DE.json
  electron/locale/el-GR.json
  electron/locale/en-US.json
  electron/locale/es-ES.json
  electron/locale/et-EE.json
  electron/locale/fa-IR.json
  electron/locale/fi-FI.json
  electron/locale/fr-FR.json
  electron/locale/ga-IE.json
  electron/locale/he-IL.json
  electron/locale/hi-IN.json
  electron/locale/hr-HR.json
  electron/locale/hu-HU.json
  electron/locale/id-ID.json
  electron/locale/is-IS.json
  electron/locale/it-IT.json
  electron/locale/ja-JP.json
  electron/locale/lt-LT.json
  electron/locale/lv-LV.json
  electron/locale/ms-MY.json
  electron/locale/nl-NL.json
  electron/locale/no-NO.json
  electron/locale/pl-PL.json
  electron/locale/pt-BR.json
  electron/locale/pt-PT.json
  electron/locale/ro-RO.json
  electron/locale/ru-RU.json
  electron/locale/si-LK.json
  electron/locale/sk-SK.json
  electron/locale/sl-SI.json
  electron/locale/sr-SP.json
  electron/locale/sv-SE.json
  electron/locale/th-TH.json
  electron/locale/tr-TR.json
  electron/locale/uk-UA.json
  electron/locale/uz-UZ.json
  electron/locale/vi-VN.json
  electron/locale/zh-CN.json
  electron/locale/zh-HK.json
  electron/locale/zh-TW.json
  electron/src/lib/eventType.ts
  electron/src/locale/locale.ts
  electron/src/menu/system.ts
  electron/src/renderer/preload-app.ts
  electron/src/renderer/preload-webview.ts
Labels: type: feature / request ✨

#4169 refactor: Rename renderer to preload
  electron/src/main.ts
  electron/src/preload/menu/preload-about.test.renderer.ts
  electron/src/preload/menu/preload-about.ts
  electron/src/preload/menu/preload-context.ts
  electron/src/preload/menu/preload-proxy-prompt.ts
  electron/src/preload/preload-app.ts
  electron/src/preload/preload-sso.ts
  electron/src/preload/preload-webview.ts
  electron/src/sso/SingleSignOn.ts
  electron/src/window/AboutWindow.ts
  electron/src/window/ProxyPromptWindow.ts
Labels: type: refactoring 🛠

#4181 feat: Submit deep link via window
  electron/src/global.ts
  electron/src/lib/CoreProtocol.test.main.ts
  electron/src/lib/CoreProtocol.ts
  electron/src/lib/eventType.ts
  electron/src/preload/preload-app.ts
Labels: type: feature / request ✨

#4201 chore: Setup dependabot ignore updates
  .github/dependabot.yml
Labels: type: chore 🧹

#4204 fix: Don't flicker tray icon on incoming messages
  electron/src/menu/TrayHandler.ts
Labels: type: bug / fix 🐞

#4203 chore: bump core-js from 2.6.11 to 3.6.5
  .babel-register.js
  .github/dependabot.yml
  babel.config.js
  jest.config.js
  package.json
  yarn.lock
Labels: dependencies, type: chore 🧹

#4155 refactor: Use nativeTheme update
  electron/src/preload/preload-webview.ts
Labels: type: refactoring 🛠
