Repository wireapp/wire-desktop, pull requests merged in 2020-12, with the labels that each got.

#4592 chore: Run CodeQL analysis only on schedule
  .github/workflows/codeql-analysis.yml
Labels: type: chore 🧹

#4590 feat: Log read config and current WebApp URL (SQCORE-282)
  electron/renderer/src/components/Webview.jsx
  electron/src/settings/ConfigurationPersistence.ts
Labels: type: feature / request ✨

#4293 fix: Add times for Windows update check log
  electron/src/update/squirrel.ts
Labels: type: bug / fix 🐞

#4591 feat: Open DevTools by account index (SQCORE-283)
  electron/src/main.ts
  electron/src/menu/developer.ts
  electron/src/sso/SingleSignOn.ts
Labels: type: feature / request ✨

#4602 runfix: Open correct DevTools
  electron/src/menu/developer.ts
Labels: type: bug / fix 🐞

#4625 chore: Use Node.js 12.20.0
  jenkins/deployment.groovy
  jenkins/linux.Dockerfile
  jenkins/macOS.groovy
  jenkins/windows.groovy
Labels: type: chore 🧹
