Repository wireapp/wire-desktop, pull requests merged in 2020-09, with the labels that each got.

#4233 runfix: Allow custom protocol to be opened externally (WEBAPP-7088)
  electron/src/window/WindowUtil.ts
Labels: type: bug / fix 🐞

#4235 chore: Remove Raygun (WEBAPP-7091)
  .cspell.json
  electron/src/logging/initRaygun.ts
  electron/src/main.ts
  electron/src/settings/config.ts
  electron/wire.json
  package.json
  yarn.lock
Labels: type: chore 🧹

#4234 feat: Add Sinhalese to supported languages
  electron/src/locale/locale.ts
Labels: type: feature / request ✨

#4246 chore: Add warning copy for blocked URL modal
  electron/locale/ar-SA.json
  electron/locale/bn-BD.json
  electron/locale/ca-ES.json
  electron/locale/cs-CZ.json
  electron/locale/da-DK.json
  electron/locale/de-DE.json
  electron/locale/el-GR.json
  electron/locale/en-US.json
  electron/locale/es-ES.json
  electron/locale/et-EE.json
  electron/locale/fa-IR.json
  electron/locale/fi-FI.json
  electron/locale/fr-FR.json
  electron/locale/ga-IE.json
  electron/locale/he-IL.json
  electron/locale/hi-IN.json
  electron/locale/hr-HR.json
  electron/locale/hu-HU.json
  electron/locale/id-ID.json
  electron/locale/is-IS.json
  electron/locale/it-IT.json
  electron/locale/ja-JP.json
  electron/locale/lt-LT.json
  electron/locale/lv-LV.json
  electron/locale/ms-MY.json
  electron/locale/nl-NL.json
  electron/locale/no-NO.json
  electron/locale/pl-PL.json
  electron/locale/pt-BR.json
  electron/locale/pt-PT.json
  electron/locale/ro-RO.json
  electron/locale/ru-RU.json
  electron/locale/si-LK.json
  electron/locale/sk-SK.json
  electron/locale/sl-SI.json
  electron/locale/sr-SP.json
  electron/locale/sv-SE.json
  electron/locale/th-TH.json
  electron/locale/tr-TR.json
  electron/locale/uk-UA.json
  electron/locale/uz-UZ.json
  electron/locale/vi-VN.json
  electron/locale/zh-CN.json
  electron/locale/zh-HK.json
  electron/locale/zh-TW.json
  electron/src/locale/locale.ts
  electron/src/window/WindowUtil.ts
Labels: type: chore 🧹

#4247 runfix: Set maximum zoom limits and fix zoom in shortcut
  electron/src/menu/system.ts
  electron/src/preload/preload-app.ts
Labels: type: bug / fix 🐞

#4248 chore: Disable experimental Chrome features
  electron/src/main.ts
Labels: type: chore 🧹

#4250 chore: Download translations automatically
  .github/workflows/download_translations.yml
Labels: type: chore 🧹

#4251 feat: Add error message when translation can't be found
  electron/src/locale/locale.ts
Labels: type: feature / request ✨

#4252 refactor: Add comment about roles and simplify opening devtools
  electron/src/menu/developer.ts
  electron/src/menu/system.ts
Labels: type: refactoring 🛠

#4262 fix: Get OpenGraphData over IPC channel
  electron/src/lib/eventType.ts
  electron/src/main.ts
  electron/src/preload/preload-webview.ts
Labels: type: bug / fix 🐞

#4263 refactor: Use async/await in main
  electron/src/logging/loggerUtils.ts
  electron/src/main.ts
  electron/src/runtime/lifecycle.ts
Labels: type: refactoring 🛠

#4273 runfix: Revert "refactor: Use async/await in main (#4263)"
  electron/src/logging/loggerUtils.ts
  electron/src/main.ts
  electron/src/runtime/lifecycle.ts
Labels: type: bug / fix 🐞

#4265 chore: Use GitHub actions instead of Travis
  .github/workflows/build_test.yml
  .prettierignore
  .travis.yml
Labels: type: chore 🧹

#4284 chore: Use xvfb-run on Linux
  .github/workflows/build_test.yml
Labels: type: chore 🧹

#4292 chore: Downgrade electron to 9.2.0
  package.json
  yarn.lock
Labels: type: chore 🧹

#4299 chore: Don't skip untranslated files on download
  .github/workflows/download_translations.yml
Labels: type: chore 🧹

#4302 fix: Edit text on the correct WebView (WEBAPP-7104)
  electron/src/lib/eventType.ts
  electron/src/menu/system.ts
  electron/src/preload/menu/preload-context.ts
  electron/src/preload/preload-app.ts
Labels: type: bug / fix 🐞

#4301 chore: Downgrade electron to 9.1.2
  electron/src/main.ts
  electron/src/sso/SingleSignOn.ts
  package.json
  yarn.lock
Labels: type: chore 🧹

#4333 chore: Fix manual translation download
  bin/translations_download.ts
Labels: type: chore 🧹
