Repository wireapp/wire-desktop, pull requests merged in 2021-09, with the labels that each got.

#5300 feat: Add custom environments to production builds (SQCORE-872)
  electron/src/menu/developer.ts
  electron/src/runtime/EnvironmentUtil.ts
Labels: type: feature / request ✨

#5309 docs: Document configuration file (init.json) properties
  electron/src/settings/SettingsType.ts
Labels: type: documentation 📋

#5333 docs: Describe build process
  README.md
Labels: type: documentation 📋

#5334 fix: Render issues after zoom
  electron/src/main.ts
  electron/src/preload/preload-webview.ts
Labels: type: bug / fix 🐞
