Repository wireapp/wire-desktop, pull requests merged in 2022-09, with the labels that each got.

#6015 runfix: add external theme update support for sidebar (ACC-199)
  electron/renderer/src/components/Webview.jsx
  electron/src/preload/preload-webview.ts
Labels: type: bug / fix 🐞

#6024 feat: build macos universal app (SQCORE-31)
  bin/build-tools/lib/build-macos.ts
  bin/macos-check_private_apis.sh
  jenkins/deployment.groovy
  jenkins/macOS.groovy
  package.json
  yarn.lock
Labels: type: feature / request ✨

#5897 chore: Bump electron to 19.0.17 (SQSERVICES-1704)
  README.md
  package.json
  yarn.lock
Labels: type: chore 🧹
