Repository wireapp/wire-desktop, pull requests merged in 2022-06, with the labels that each got.

#5750 chore: update config version
  app-config/package.json
Labels: type: chore 🧹

#5763 chore: Bump electron version in dependabot config (SQSERVICES-1490)
  .github/dependabot.yml
Labels: type: chore 🧹

#5767 chore: Bump electron from 18.2.0 to 18.3.2
  package.json
  yarn.lock
Labels: type: chore 🧹

#5481 chore: replace master with built-in label for Jenkins pipeline
  jenkins/deployment.groovy
  jenkins/macOS.groovy
Labels: type: chore 🧹

#5787 feat: Add support for dark mode in sidebar acc-157
  electron/renderer/src/actions/index.js
  electron/renderer/src/components/Sidebar.jsx
  electron/renderer/src/components/Webview.jsx
  electron/renderer/src/lib/__tests__/accentColor.spec.js
  electron/renderer/src/lib/accentColor.js
  electron/renderer/src/reducers/accountReducer.js
  electron/renderer/src/selector/AccountSelector.js
  electron/src/lib/eventType.ts
  electron/src/preload/preload-webview.ts
  package.json
  yarn.lock
Labels: type: feature / request ✨

#5812 feat: Expose safeStorage primitives to the webapp [FS-566]
  electron/src/global.ts
  electron/src/lib/eventType.ts
  electron/src/main.ts
  electron/src/preload/preload-webview.ts
Labels: type: feature / request ✨

#5817 fix: Disable mdns feature to prevent windows firewall prompt SQSERVICES-1637
  electron/src/main.ts
Labels: type: bug / fix 🐞
