Repository wireapp/wire-desktop, pull requests merged in 2023-10, with the labels that each got.

#7106 fix: Improve how webapp environments are displayed in the dev menu
  electron/src/main.ts
  electron/src/menu/developer.ts
  electron/src/runtime/EnvironmentUtil.ts
Labels: type: bug / fix 🐞

#7111 fix: Allow full app reload on MacOS
  electron/src/main.ts
  electron/src/runtime/lifecycle.ts
Labels: type: bug / fix 🐞

#7112 feat: use x64 architecture for windows installer
  bin/build-tools/lib/build-windows-installer.ts
  bin/build-tools/lib/build-windows.ts
  jenkins/windows.groovy
  package.json
Labels: type: feature / request ✨

#7120 chore: Enable auto-merge of dependabot PR
  .github/workflows/dependabot-auto-merge.yml
Labels: type: chore 🧹

#7047 feat: Upgrade to electron 26
  electron/css/wrapper.css
  electron/renderer/src/components/Sidebar/Sidebar.css
  electron/src/lib/showDialog.ts
  electron/src/main.ts
  electron/src/preload/menu/preload-about.test.renderer.ts
  electron/src/preload/menu/preload-about.ts
  electron/src/preload/preload-app.ts
  package.json
  yarn.lock
Labels: type: feature / request ✨

#7123 chore: cleanup unused dependencies
  electron/src/locale/index.ts
  package.json
  yarn.lock
Labels: type: chore 🧹

#7126 chore: Fix macos signing
  bin/build-tools/lib/build-macos.ts
Labels: type: chore 🧹

#7125 chore: typecheck bin files
  bin/deploy-tools/lib/HockeyDeployer.ts
  bin/translations_download.ts
  bin/translations_upload.ts
  tsconfig.json
Labels: type: chore 🧹

#7208 runfix: Restore ability to use custom webapp url from init.json
  electron/src/runtime/EnvironmentUtil.ts
Labels: type: bug / fix 🐞
