Repository wireapp/wire-desktop, pull requests merged in 2024-06, with the labels that each got.

#7917 feat: pass desktop verion info to webapp and add avs version [WPB-4969]
  electron/html/about.html
  electron/src/lib/eventType.ts
  electron/src/locale/ar-SA.json
  electron/src/locale/bn-BD.json
  electron/src/locale/ca-ES.json
  electron/src/locale/cs-CZ.json
  electron/src/locale/da-DK.json
  electron/src/locale/de-DE.json
  electron/src/locale/el-GR.json
  electron/src/locale/en-US.json
  electron/src/locale/es-ES.json
  electron/src/locale/et-EE.json
  electron/src/locale/fa-IR.json
  electron/src/locale/fi-FI.json
  electron/src/locale/fr-FR.json
  electron/src/locale/ga-IE.json
  electron/src/locale/he-IL.json
  electron/src/locale/hi-IN.json
  electron/src/locale/hr-HR.json
  electron/src/locale/hu-HU.json
  electron/src/locale/id-ID.json
  electron/src/locale/is-IS.json
  electron/src/locale/it-IT.json
  electron/src/locale/ja-JP.json
  electron/src/locale/lt-LT.json
  electron/src/locale/lv-LV.json
  electron/src/locale/ms-MY.json
  electron/src/locale/nl-NL.json
  electron/src/locale/no-NO.json
  electron/src/locale/pl-PL.json
  electron/src/locale/pt-BR.json
  electron/src/locale/pt-PT.json
  electron/src/locale/ro-RO.json
  electron/src/locale/ru-RU.json
  electron/src/locale/si-LK.json
  electron/src/locale/sk-SK.json
  electron/src/locale/sl-SI.json
  electron/src/locale/sr-SP.json
  electron/src/locale/sv-SE.json
  electron/src/locale/th-TH.json
  electron/src/locale/tr-TR.json
  electron/src/locale/uk-UA.json
  electron/src/locale/uz-UZ.json
  electron/src/locale/vi-VN.json
  electron/src/locale/zh-CN.json
  electron/src/locale/zh-HK.json
  electron/src/locale/zh-TW.json
  electron/src/preload/menu/preload-about.ts
  electron/src/preload/preload-webview.ts
  electron/src/runtime/EnvironmentUtil.ts
  electron/src/types/globals.d.ts
  electron/src/window/AboutWindow.ts
Labels: type: feature / request ✨

#7920 runfix: make avs version optional
  electron/src/preload/menu/preload-about.ts
  electron/src/preload/preload-webview.ts
  electron/src/types/globals.d.ts
  electron/src/window/AboutWindow.ts
Labels: type: bug / fix 🐞

#7940 fix: Avoid disabling hardware acceleration on every platform
  electron/src/main.ts
Labels: type: bug / fix 🐞

#7935 runfix: don't clear cache by default when closing the app
  electron/src/runtime/lifecycle.ts
  electron/src/update/squirrel.ts
Labels: type: bug / fix 🐞

#7942 chore(ci): remove test signing from build pipeline
  jenkins/windows.groovy
Labels: type: chore 🧹

#7960 runfix: Disable hardware acceleration earlier in the boot process
  electron/src/main.ts
Labels: type: bug / fix 🐞
