Repository wireapp/wire-desktop, pull requests merged in 2024-10, with the labels that each got.

#8241 chore: merge dev into staging
  app-config/package.json
  bin/build-tools/lib/build-linux.ts
  package.json
  yarn.lock
Labels: type: chore 🧹

#8242 feat: hide menu on calling pop out window [WPB-10680]
  electron/src/calling/PictureInPictureCall.ts
  electron/src/window/WindowUtil.ts
Labels: type: feature / request ✨, echoes: features

#8302 chore: fix issues in lockfile
  yarn.lock
Labels: type: chore 🧹

#8331 chore: internal release 2024-10-30
  .github/issue_template.md
  app-config/package.json
  electron/src/calling/PictureInPictureCall.ts
  electron/src/window/WindowUtil.ts
  package.json
  yarn.lock
Labels: type: chore 🧹, echoes: features
